/* ----------------- GENERAL STYLES ----------------------- */
html {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: var(--beige);

  /* farvevariabler */
  --green: #739066;
  --darkgreen: #0e4628;
  --pink: #f8e7e7;
  --beige: #fdfdf7;

  /* gapvariabler */
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 3rem;
  --space-xl: 4rem;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}
h2 {
  font-size: 2rem;
}

p {
  line-height: 2;
}

/* ---------------- NAV MENU ---------------*/

.logo {
  margin-inline: 40px;
}

.nav-menu li {
  font-family: "Barlow Semi Condensed", sans-serif;
  list-style: none;
  font-size: 1.1rem;
  text-align: center;
}
a {
  color: var(--green);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.nav-link {
  transition: 0.7s ease;
}

.navbar a:hover {
  color: orange;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin-block: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--green);
  border-radius: 15px;
}

@media (max-width: 768px) {
  .logo {
    width: 30%;
    font-size: 2rem;
    margin-inline: 0;
  }
  .navbar {
    padding: 20px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 130px;
    gap: 0;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin-block: 16px;
  }

  .nav-menu.active {
    left: 0;
  }
}
/* ------------------ scroll to top knap -------------------- */
#top_knap {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--green); /* Set a background color */
  color: var(--beige); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 80%;
}

#top_knap:hover {
  background-color: var(--darkgreen); /* Add a dark-grey background on hover */
  opacity: 100%;
}

/* ------------------ FORSIDE MOBILFIRST -------------------- */

.half-split h1 {
  margin: 20px;
  font-size: 2.5rem;
  color: var(--darkgreen);
}

.half-split div {
  margin-bottom: 20px;
}

.velkommen {
  /* background-color: var(--green); */
  padding: 20px;
  color: var(--darkgreen);
}

/* ------ Hvad er ansigtsrefleks ----- */
.grid_1-2 {
  /* background-color: var(--pink); */
  color: var(--darkgreen);
  padding-bottom: 20px;
}

.grid_1-2 h2,
.grid_1-2 p {
  padding-inline: 20px;
}

.grid_2-1 div {
  margin-bottom: 20px;
}

.button_micro a:hover {
  color: var(--beige);
}

.button_micro {
  background-color: #0e4628;
  width: 30%;
  height: 65px;
  padding: 20px;
  font-size: 1.3rem;
  border-radius: 15px;
  text-align: center;
  margin-left: 20px;
}

.button_micro_center a:hover {
  font-size: 2rem;
  color: var(--beige);
}

/* ------ Hvad er japansk lift ----- */
.grid_2-1 {
  background-color: var(--beige);
  color: var(--darkgreen);
  padding-top: 20px;
}

.grid_2-1 h2,
.grid_2-1 p {
  padding-inline: 20px;
}

/* ------ Det siger kunderne ----- */
.kunder {
  background-color: var(--green);
  padding-top: 20px;
  margin: 0;
  text-align: center;
  color: var(--darkgreen);
}
.reviews_flex {
  display: flex;
  text-align: center;
  padding-inline: 20px;
  padding-block: 40px;
  gap: 10px;
  background-color: var(--green);
}
.reviews_flex h3 {
  color: var(--beige);
}

.reviews_flex img {
  border-radius: 50%;
}

.button_micro_center {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 1.3rem;
  background-color: var(--darkgreen);
}

/* ------ footer ----- */

.grid_footer_3col {
  padding: 20px;
  padding-bottom: 40px;
}

.ikoner {
  display: flex;
  width: 50%;
  padding-top: 20px;
}

/* ------ SIDE 2 - Hvad er ansigtsrefleks ----- */

.half-split_2 h1 {
  margin: 20px;
  font-size: 2.5rem;
  color: var(--darkgreen);
}

.hvad_er_refleks {
  color: var(--darkgreen);
  padding: 20px;
}

.hvem_kan_behandles {
  color: var(--darkgreen);
  background-color: var(--beige);
  padding-bottom: 20px;
}

.hvem_kan_behandles p,
.hvem_kan_behandles h2 {
  padding-inline: 20px;
}

.overskrift {
  text-align: center;
  background-color: var(--green);
  padding: 30px;
  color: var(--darkgreen);
  font-size: 1.3rem;
}
.overskrift p {
  font-size: 1rem;
}

.fordele {
  color: var(--darkgreen);
}

.fordele h2,
.fordele ul,
.fordele p {
  padding-inline: 20px;
}

.fordele div {
  margin-bottom: 20px;
}

.fordele li {
  list-style: square;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.fordele ul {
  margin: 20px;
  padding: 10px;
}

/* ---------------------- SIDE 3 ---------------------- */

.fertilitet_titel {
  font-size: 1.5rem;
  margin: 20px;
  color: #0e4628;
  display: flex;
  justify-content: center;
}

.hvordan_fertilitet {
  margin: 20px;
  font-size: 1rem;
  color: #0e4628;
}

/* ----------- OM OS ----------- */
.om_titel {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  color: #0e4628;
}

.om_titel div {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.om_addresse {
  margin: 20px;
  display: flex;
  text-align: center;
  font-size: 1.2rem;
  flex-direction: column;
}

.om_elaine {
  margin: 20px;
  color: #0e4628;
}
.om_elaine h2 {
  font-size: 1.2rem;
  color: #739066;
}

.om_kontakt {
  color: #0e4628;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px) {
  .logo {
    width: 7%;
    margin-top: 10px;
  }
  .half-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .half-split h1 {
    grid-column: 1;
    grid-row: 2;
    font-size: 3.5rem;
    margin-inline: 40px;
  }
  .half-split img {
    grid-column: 2;
    grid-row: span 3;
    width: 100%;
  }

  .half-split div {
    grid-row: 3;
    margin-inline: 40px;
    grid-column: 1;

    margin-bottom: 30px;
  }

  .velkommen {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #0e4628;
    border-top: 1px solid #0e4628;
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .velkommen p {
    padding-inline: 3rem;
    font-size: 1.2rem;
  }
  /* ------ Hvad er ansigtsrefleks ----- */
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 40px;
    border-bottom: 1px solid #0e4628;
    margin-bottom: 28px;
  }
  .grid_1-2 img {
    grid-column: 1;
    grid-row: span 2;
    width: 80%;
  }
  .grid_1-2 h2,
  .grid_1-2 p {
    margin-inline: 20px;
    grid-row: 1;
    grid-column: 2;
    margin-top: 0;
  }

  .grid_1-2 p {
    margin-top: 55px;
    padding-bottom: 10px;
  }
  .grid_1-2 div {
    grid-row: 2;
    grid-column: 2;
    margin-inline: 35px;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 50px;
  }
  .grid_2-1 img {
    grid-column: 2;
    grid-row: span 2;
  }

  .grid_2-1 h2,
  .grid_2-1 p {
    grid-row: 1;
    grid-column: 1;
    padding-left: 0;
    margin-top: 0;
  }

  .grid_2-1 p {
    margin-top: 55px;
    padding-right: 50px;
  }
  .grid_2-1 div {
    grid-row: 2;
    grid-column: 1;
    margin-left: 0;
  }

  .reviews_flex img {
    width: 60%;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_footer_3col {
    padding: 0;
  }

  .ikoner {
    grid-column: 1;
  }

  .spoergsmaal {
    grid-column: 2;
    grid-row: 1;
  }

  /* ------ SIDE 2 HVAD ER ANSIGTSREFLEKS ----- */

  .half-split_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 40px;
  }

  .half-split_2 h1 {
    grid-column: 2;
    grid-row: 2;
    font-size: 3.9rem;
    text-align: center;
  }

  .half-split_2 img {
    grid-column: 1;
    grid-row: span 3;
    width: 100%;
  }
  .hvad_er_refleks {
    border-block: 1px solid #0e4628;
    margin-bottom: 30px;
  }
  .hvad_er_refleks p,
  .hvad_er_refleks h2 {
    text-align: center;
    padding-inline: 120px;
  }

  .hvem_kan_behandles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hvem_kan_behandles h2 {
    grid-column: 1;
    grid-row: 1;
    font-size: 2.5rem;
    padding: 0;
    margin-block: 0;
  }
  .hvem_kan_behandles p {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    padding-right: 20px;
  }

  .hvem_kan_behandles img {
    grid-column: 2;
    grid-row: span 3;
  }

  .fordele {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--darkgreen);
    margin-bottom: 50px;
    padding-bottom: 30px;
  }

  .fordele_grid2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-column: 1;
  }

  .fordele h2 {
    grid-row: 1;
    padding: 0;
  }

  .fordele p {
    grid-row: 2;
    padding: 0;
    margin-right: 20px;
  }
  .fordele ul {
    padding-left: 30px;
    grid-column: 1;
    grid-row: 3;
  }
  .fordele div {
    margin: 0;
  }
  .fordele img {
    grid-column: 2;
    grid-row: 1;
  }

  /* -------------- OM OS -----------  */
  .om_elaine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    border-block: solid 1px var(--darkgreen);
    padding-bottom: 30px;
  }

  .om_elaine p {
    padding-right: 20px;
  }

  .om_kontakt {
    padding-bottom: 50px;
    border-bottom: solid 1px var(--darkgreen);
  }

  .logo_2 {
    max-width: 60%;
    padding-top: 30px;
  }

}
